<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Mostra dados de um contato utilizando o Spring Boot</title>
</head>
 
<body>
  <dl>
  	<dt>id</dt>
  	<dd th:text="${contato.id}"></dd>
  	<dt>Nome</dt>
  	<dd th:text="${contato.nome}"></dd>
  	<dt>Email</dt>
  	<dd th:text="${contato.email}"></dd>
  </dl>
</body>
</html>